@mixin centrowanie{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    margin: auto;
}

@mixin borderowanie($radius){
    border-radius: $radius;
    -moz-border-radius:$radius;
    -webkit-border-radius:$radius;
}